@use 'styles/base/colors' as *;
// @use 'src/scss/themes/default' as *;

.skip-link {
    position: absolute;
    transform: translateY(-150%);
    left: 0.5rem;
    top: 0.5rem;

    &:focus {
        transform: translateY(0);
    }
}

*:focus {
    outline: 3px dotted red;
}
*:focus:not(:focus-visible) {
    outline: unset;
}
*:focus-visible {
    outline: 3px dotted red;
    outline-offset: 0.25rem;
}

.visually-hidden,
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
