$color-primary-50: #e0f2f1;
$color-primary-100: #b2dfdb;
$color-primary-200: #80cbc4;
$color-primary-300: #4db6ac;
$color-primary-400: #26a69a;
$color-primary-500: #009688;
$color-primary-600: #00897b;
$color-primary-700: #00796b;
$color-primary-800: #00695c;
$color-primary-900: #004d40;

$color-background: #121212;
$color-text: #ffffff;
$color-text-light: hsla(0, 0%, 100%, 0.87);
$color-text-disabled: hsla(0, 0%, 100%, 0.5);
